@import url("https://fonts.googleapis.com/css2?family=Oxanium&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/*  */

body {
  @apply bg-blue-400;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oxanium", cursive;
}

button#Info:hover::after {
  content: "More Info";
  opacity: 1;
}

button#Info::after {
  content: "";
  opacity: 0;
  transition: opacity 200ms 200ms ease;
}

button#Add:hover::after {
  content: "Add to Team";
  opacity: 1;
}

button#Add::after {
  content: "";
  opacity: 0;
  transition: opacity 200ms 200ms ease;
}
